body {
    background-color: gray;
    color: mintcream;
}

.topPanel {
    position: absolute;
    left: 2%;
    right: 2%;
    top: 2%;
    width: 96%;
    height: 20%;
    background-color: lightseagreen;
}

.mainPanel {
    position: absolute;
    left: 2%;
    right: 2%;
    top: 24%;
    width: 96%;
    height: 78%;
    background-color: Black;
}

ul {
    list-style: none;
}

h1, h2 {
    text-align: center;
}
